
::-moz-selection {
    background-color: rgb(134, 205, 130) !important;
    color: rgb(16, 16, 16) !important;
}
::selection {
    background-color: rgb(134, 205, 130) !important;
    color: rgb(16, 16, 16) !important;
}
